body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  text-decoration: none;
  color: white !important;
}

a:hover{
  text-decoration: none !important;
}

.active{
  opacity: 0.5;
}

i{
  font-size: 32px;
}

.fa-arrow-circle-right{
  font-size: 14px;
}

.fa-arrow-circle-left{
  font-size: 14px;
}

.fa-pencil-alt{
    font-size: 24px;
}
